h1, h2, h4, h5, h6, a {
    font-family: 'Kaisei Tokumin', serif;
}
h3, p, address {
    font-family: 'Cormorant Garamond', serif;
}
body {
    scroll-behavior: smooth;
}
.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
}