.about {
    &-container {
        margin-top: 100px;
        text-align: center;
    }
    &__title {
        font-size: 36px;
        color: #215565;
        font-weight: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media (max-width: 1030px) {
            font-size: 30px;
        }
        @media (max-width: 500px) {
            font-size: 25px;
        }
    }
    &__description {
        max-width: 1266px;
        margin-top: 33px;
        font-size: 17px;
        color: #1C4D5B;
        font-weight: bold;
        letter-spacing: 3px;
        @media (max-width: 870px) {
            font-size: 15px;
        }
    }
}
