.about {
    &-container {
        padding-top: 100px;
        text-align: center;
    }
    &__title {
        font-size: 36px;
        color: #215565;
        font-weight: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &__description {
        margin-top: 33px;
        font-size: 17px;
        color: #1C4D5B;
        font-weight: bold;
        letter-spacing: 3px;
    }
}