.form {
    &-container {
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 800px) {
            text-align: center;
            display: block;
            margin-top: 150px;
        }
    }
    &__title {
        font-size: 36px;
        color: #215565;
        font-weight: normal;
        letter-spacing: 6px;
        span {
            color: rgba(98, 158, 26, 0.72);
        }
        @media (max-width: 1350px) {
            font-size: 30px;
        }
        @media (max-width: 1030px) {
            font-size: 25px;
        }
        @media (max-width: 870px) {
            font-size: 20px;
        }
    }
    &__description {
        margin-top: 16px;
        font-size: 32px;
        color: #374143;
        @media (max-width: 1350px) {
            font-size: 27px;
        }
    }
    &__input {
        margin-top: 16px;
        width: 394px;
        height: 57px;
        padding: 0px 18px;
        font-size: 12px;
        color: #215565;
        font-weight: bold;
        border-radius: 16px;
        border: 1px solid rgba(98, 158, 26, 0.72);
        background: rgba(98, 158, 26, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &::placeholder {
            font-family: 'Kaisei Tokumin', serif;
            color: #215565;
            opacity: 0.5;
            letter-spacing: 2px;
        }
        @media (max-width: 1030px) {
            height: 50px;
        }
        @media (max-width: 440px) {
            width: 300px;
        }
    }
    &__button {
        font-family: 'Cormorant Garamond', serif;
        margin-top: 26px;
        text-align: center;
        font-size: 26px;
        color: #374143;
        padding: 0px 50px;
        height: 57px;
        border-radius: 16px;
        background: rgba(98, 158, 26, 0.22);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: 0px;
        cursor: pointer;
        transition: all 200ms ease 0s;
        img {
            position: relative;
            top: 4px;
            left: 10px;
            @media (max-width: 870px) {
                display: none;
            }
        }
        &:active {
            transform: scale(0.95);
        }
        @media (max-width: 1030px) {
            height: 45px;
        }
        @media (max-width: 870px) {
            font-size: 20px;
        }
    }
    &__image {
        @media (max-width: 1350px) {
            max-width: 350px;
        }
        @media (max-width: 870px) {
            max-width: 300px;
        }
        @media (max-width: 800px) {
            display: none;
        }
    }
}